












@media (max-width: 1400px){
    .navbar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0 auto !important;
    }
    .small-card{
    width: 50%;
    }
    .recent-card{
    width: 100%;
    }
    .box-1{
    width: 100%;
    margin: 30px;
    }
    .mini-box-2{
    margin: 100px 0px;
    }
    
    @media(max-width:768px){
    .navbar-two-text{
    display: none;
    }
    .fa-bars{
    display: block !important;
    }
    }
    .fa-bars{
    display: none ;  
    
    }
    @media(min-width:576px) and (max-width:992px){
    
    }
    
    }


