@media (max-width: 1400px){
    .navbar{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        margin: 0 auto !important;
    }
}