@media (max-width: 1400px){
    .navbar{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        margin: 0 auto !important;
    }
    .small-card{
        width: 50%;
    }
    .recent-card{
        width: 100%;
    }
    .box-1{
        width: 100%;
        margin: 30px;
    }
    .mini-box-2{
        margin: 100px 0px;
    }
    .footer-all{
        width: 100%;
    }
    .footer-two{
        width: 100%;
    }
    .footer-one{
        width: 100%;
    }
    .check-img{
        
             width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
    }
}