*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.carousel-item{
    position: relative;
    height: 60vh;
    padding-bottom: 50px;
   }
   .carousel-item-text {
    color: white;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
   }
   .carousel-item img{
    object-fit: cover;
    object-position: center bottom;
   }
   .carousel-item-text button{
    background-color: aqua;
    padding: 10px 30px;
    border: 1px transparent;
    color: white;
   }
   .navbar-two li, a{
    text-decoration: none;
    list-style-type: none;
    color: black;
   }
   .navbar-two{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    /* background-attachment: fixed; */
   }
   .navbar-two-text{
    display: flex;
    gap: 50px;
   }

   .learn-more{
    display: flex;
    justify-content: space-around;
    background-color: rgb(226, 233, 233);
    height: 150px;
    padding-top: 30px;
   }
   .learn-button{
   padding-top: 10px;
   
   }
   .learn-button button{
    padding: 10px 20px;
    color: white;
    background-color: rgb(190, 136, 136);
    border: 1px solid transparent;
    }
  
     .courses-img{
        background-image: url("https://static.vecteezy.com/system/resources/previews/036/226/872/non_2x/ai-generated-nature-landscapes-background-free-photo.jpg");
        height: 580px;
        width: 100%;
        object-fit: cover;
        background-attachment: fixed;
        object-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;  
        
     }
     .coursesimg-text{
        position: relative;
        bottom: 400px;
        text-align: center;
     }
     .courses-input select{
        padding: 5px 20px;
     }
     .courses-input input{
        padding: 5px 20px;
     }
     .courses-input button{
        padding: 5px 20px;
        border: 1px transparent;
        background-color: aqua;
        color: white;
     }
     .courses{
        padding-top: 100px;
     }
     .students-text{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
     }
     .students-text button{
        padding: 10px;
        border-radius: 50%;
        border: transparent;
        background-color: #95e0da;
     }
     .student-texts{
        width: 40%;
        margin: 0 auto;
        align-items: center;
        padding: 20px;
     }
     .student-texts a {
        color: aqua;
     }
     .wrapper-student{
        background-color: rgb(223, 215, 202);
        padding: 20px;
     }
     .check-all{
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
     }
     .check-img{
        display: flex;
        gap: 20px;
     }
     .contact-us{
        padding: 30px;
        margin-top: 50px;
        background-color: aqua;
        display: flex;
        justify-content: space-around;
     }
     .footer-one{
        width: 15%;
     }
     .footer-two{
       width: 25%;
     }
     .footer-two button{
        padding: 5px 10px;
        color: white;
        background-color: aqua;
     }
     .footer-all{
        padding: 100px;
        background-color: rgb(73, 71, 71);
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 10px;
     }
     .footer-all p {
        color: white;
     }
     .footer-all h5 {
        color: white;
     }
     .footer-all a {
        color: white;
     }
   
     .three-one{
        display: flex;
        gap: 20px;
     }
     .three-one img{
        width: 70px;
        height: 70px;
     }
     .footer-four-tags{
        text-decoration: none;
        list-style: none;
     }
     .second-footer{
        background-color: black;
        display: flex;
        justify-content: space-evenly;
        padding: 30px;
     }
     .second-footer p{
        color: white;
     }
     .footer-wrapper{
        width: 70%;
        display: flex;
        justify-content: space-evenly;
     }
     














   /* responsive */
  @media(max-width:768px){
    .navbar-two-text{
        display: none;
    }
    .fa-bars{
        display: block !important;
    }
  }
  .fa-bars{
      display: none ;  
    
}
  @media(min-width:576px) and (max-width:992px){

  }
  @media (min-width:576px) and (max-width:1192px){
    
  }


  .modal{
    background-color: #72D5CD;
  }


.navbar{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0px 20px;
    color: #888888;
    flex-wrap: wrap;
    
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888888;
    /* gap: 20px; */
    /* flex-wrap: wrap; */
}
.social-media a{
    color: #888888;
}
.social-media i:hover{
    cursor: pointer;
    color: black;
}
.social-media a:hover{
    cursor: pointer;
    color: black;
}
.social-media{
    display: flex;
    align-items: center;
    color: #888888;
    gap: 20px;
}

.small-cards{
    width:60%;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    
}
.small-card{
    width: 24%;
    text-align: center;
}
.small-card  i{
    color: #888888;
    padding: 20px;

    
}
.small-card i{
    font-size: 50px;

}
.recent-course{
    margin: 80px 0px;
}
.recent-course-head{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
}
.recent-p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #72D5CD;

}
.recent-course-head button{
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 100%;
    background-color: #72D5CD;
}
.recent-cards{
    width:60%;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    gap: 20px;
}
.recent-card{
    width: 32%;
    text-align: center;
    border-bottom:2px solid #95e0da; 
}
.recent-card p{
    margin: 0px 20px;
}
.recent-card img{
    width: 100%;
    
}
.card-down{
    display: flex;
    justify-content: space-between;
    align-items:  baseline;
}
.card-down button{
    padding: 8px 16px;
    margin: 20px;
    background-color: #72D5CD;
    border: none;
    color: white;
}
.boxes{
    width:60%;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    gap: 20px;
}
.box-1{
    width: 32%;
}
.box-1 span{
    color: #72D5CD;
    cursor: pointer;
    font-size: 15px;
}
.mini-box{
    display: flex;
    align-items: center;
    justify-content: flex-start !important;
    background-color: #F5F5F5;
    border-bottom:2px solid #72D5CD ;
    margin-bottom: 20px;
    h6{
        font-size: 13px;
        width: 70%;
    }
}

.mini-box-2{

  width: 300px;
  height: 200px;
  
    
 
}
.mini-box img{
    width: 25%;
    margin: 10px;
}
.mini-box>div{
    margin: 10px;
}
.mini-box>div:hover{
    color: #72D5CD;
    cursor: pointer;
}

.box-1 .mini-box-2 iframe{
    
    display: flex !important;
    margin-bottom: 30px;
    
    justify-content: flex-start !important;
    /* margin-left: -25px; */
    width: 100%;
    height: 100%;
}
.mini-box-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}
.mini-box-3 img{
    border-radius: 100%;
    width: 30%;
    margin: 20px;
}
.mini-box-3 h5{
    margin: 10px 0px;
    color: #72D5CD;
}
.mini-box-3 button{
    border: none;
    padding: 15px 20px;
    background-color: #72D5CD;
    border-bottom:4px solid #65B4AD;
    color: white;
}
#test{
    justify-content: flex-start !important;
}








